@charset "utf-8";
.header_rule {
    display: block;
    width: 100%;
}
.navbar {
    width: 100%;
    padding-top: 14px;
    padding-right: 4px;
    padding-bottom: 14px;
    padding-left: 20px;
    background-color: #0A5967;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    text-decoration: none;
}
.wrapper {
    margin-top: 49px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding-top: 14px;
    padding-right: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
    color: #0C8196;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
    color: #5B72AB;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer {
    font-size: small;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #99C3CB;
    background-color: #0A5967;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
